Source: libhybris
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9.0.0),
               libgles2-mesa-dev
Standards-Version: 3.9.3
Section: libs
Vcs-Bzr: lp:phablet-extras/libhybris

Package: libhybris
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Allows to run bionic-based HW adaptations in glibc systems - libs
 Hybris is a solution that commits hybris, by allowing us to use bionic-based
 HW adaptations in glibc systems.

Package: libhybris-dev
Section: libdevel
Architecture: any
Depends: libhybris (= ${binary:Version}),
         ${misc:Depends},
         libgles2-mesa-dev,
Description: Development headers and libraries for libhybris
 Contains the header files for use in developing applications that use
 the libhybris library.
 .
 Hybris is a solution that commits hybris, by allowing us to use bionic-based
 HW adaptations in glibc systems.

Package: libhybris-test
Section: devel
Architecture: any
Depends: libhybris (= ${binary:Version}),
         ${misc:Depends}
Description: Allows to run bionic-based HW adaptations in glibc systems - tests
 This package provides the test applications for libhybris.
